@import "paleta.scss";
$text-color: #333;
$font-size: 13px;
$font-size-medium: 20px;
$border-color: #bbb;
$background-color: #fff;
$scroll-bar-color: #bbb;
$scroll-bar-hover-color: #656262;
$scroll-bar-active-color: #3E3D3D;

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "arial"source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#btnLogin {
    cursor: pointer !important;
}

#btnRecPass {
    cursor: pointer !important;
}


.loading {
    z-index: 2000000;
    position: fixed;
    height: 90px;
    width: 90px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

h1,
h2 {
    color: $Color-blue;
}

.rowLogin {
    margin-top: 100px !important;
}

.cardLogin {
    min-height: 420px !important;
}

.titulo {
    font-weight: bold !important;
    font-size: 3em;
}

.olvidoClave {
    margin-left: 40px !important;
    color: $Color-blue;
    font-weight: bold;
    cursor: pointer !important;

    :hover,
    :active,
    :focus {
        color: #3071a9 !important;
    }
}

.olvidoPass {
    margin-left: 25px !important;
}

.mb-2,
.my-2 {
    margin-bottom: .9rem !important;
}


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: $Color-blue !important;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white !important;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    color: $Color-blue;
    transition: all 0.3s;
    z-index: 200;
    width: 100%;
    min-height: 400px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 33px;
    background: $Color-blue !important;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;

}

#sidebar ul p {
    color: black;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1em;
    display: block;
    color: $Color-blue;
}

#sidebar ul li a:hover {
    background: white;
}

.iconMenu {
    margin-left: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: $Color-blue;
    background: white;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: white;

}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    background: $Color-blue !important;
}

a.article,
a.article:hover {
    background: $Color-blue !important;
    color: #fff !important;
}

.searchInput {
    position: absolute;
    right: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

.btnToggle {
    background: $Color-blue !important;
    border: none;

    :hover {
        border: none;
    }

    :active {
        border: none;
    }
}

.listComponent {
    background-color: white;
    color: $Color-blue;
}

.InicioParrafo {
    color: $Color-blue !important;

    svg {
        padding: 0px;
    }
}

.busqueda {
    width: 90%;
}

/* ---------------------------------------------------
    PANELS COMPONENT
----------------------------------------------------- */
[data-panel='containerConfirmPass'] {

    margin-top: 50px !important;

    img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%;
    }

    body {
        background-color: #f6f6f6;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    table {
        border-collapse: separate;
        width: 100%;
    }

    table td {
        font-family: sans-serif;
        font-size: 14px;
        vertical-align: top;
    }

    .body {
        background-color: #f6f6f6;
        width: 100%;
    }

    .container {
        display: block;
        margin: 0 auto !important;
        max-width: 580px;
        padding: 10px;
        width: 580px;
    }

    .content {
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        max-width: 580px;
        padding: 10px;
    }

    .main {
        background: #ffffff;
        border-radius: 3px;
        width: 100%;
    }

    .wrapper {
        box-sizing: border-box;
        padding: 20px;
    }

    .content-block {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .footer {
        clear: both;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    .footer td,
    .footer p,
    .footer span,
    .footer a {
        color: #999999;
        font-size: 12px;
        text-align: center;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #000000;
        font-family: sans-serif;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 35px;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize;
    }

    p,
    ul,
    ol {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 15px;
    }

    p li,
    ul li,
    ol li {
        list-style-position: inside;
        margin-left: 5px;
    }

    a {
        color: #3498db;
        text-decoration: underline;
    }

    .btn {
        box-sizing: border-box;
        width: 100%;
    }

    .btn>tbody>tr>td {
        padding-bottom: 15px;
    }

    .btn table {
        width: auto;
    }

    .btn table td {
        background-color: #ffffff;
        border-radius: 5px;
        text-align: center;
    }

    .btn a {
        background-color: #ffffff;
        border: solid 1px #3498db;
        border-radius: 5px;
        box-sizing: border-box;
        color: #3498db;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 12px 25px;
        text-decoration: none;
        text-transform: capitalize;
    }

    .btn-primary table td {
        background-color: #3498db;
    }

    .btn-primary a {
        background-color: #3498db;
        border-color: #3498db;
        color: #ffffff;
    }

    .last {
        margin-bottom: 0;
    }

    .first {
        margin-top: 0;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }

    .align-left {
        text-align: left;
    }

    .clear {
        clear: both;
    }

    .mt0 {
        margin-top: 0;
    }

    .mb0 {
        margin-bottom: 0;
    }

    .preheader {
        color: transparent;
        display: none;
        height: 0;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        width: 0;
    }

    .powered-by a {
        text-decoration: none;
    }

    hr {
        border: 0;
        border-bottom: 1px solid #f6f6f6;
        margin: 20px 0;
    }

    @media only screen and (max-width: 620px) {
        table[class=body] h1 {
            font-size: 28px !important;
            margin-bottom: 10px !important;
        }

        table[class=body] p,
        table[class=body] ul,
        table[class=body] ol,
        table[class=body] td,
        table[class=body] span,
        table[class=body] a {
            font-size: 16px !important;
        }

        table[class=body] .wrapper,
        table[class=body] .article {
            padding: 10px !important;
        }

        table[class=body] .content {
            padding: 0 !important;
        }

        table[class=body] .container {
            padding: 0 !important;
            width: 100% !important;
        }

        table[class=body] .main {
            border-left-width: 0 !important;
            border-radius: 0 !important;
            border-right-width: 0 !important;
        }

        table[class=body] .btn table {
            width: 100% !important;
        }

        table[class=body] .btn a {
            width: 100% !important;
        }

        table[class=body] .img-responsive {
            height: auto !important;
            max-width: 100% !important;
            width: auto !important;
        }
    }

    @media all {
        .ExternalClass {
            width: 100%;
        }

        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
            line-height: 100%;
        }

        .apple-link a {
            color: inherit !important;
            font-family: inherit !important;
            font-size: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
            text-decoration: none !important;
        }

        #MessageViewBody a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        .btn-primary table td:hover {
            background-color: #34495e !important;
        }

        .btn-primary a:hover {
            background-color: #34495e !important;
            border-color: #34495e !important;
        }
    }

}

[data-panel='containerRecuperarPass'] {
    margin-top: 110px !important;

    .card {
        .card-header {
            .titulo {
                font-weight: bold !important;
                font-size: 2em;
            }
        }

        .card-body {
            text-align: center;
        }

        .card-footer {
            .btnFoot {
                margin-left: 10px;
                margin-right: 10px;
            }
        }


    }
}

[data-panel='containerAvatar'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

        .btnActualiza {
            padding-left: 30px !important;
        }

        .nameAvatar {
            font-size: 23px;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        .puestoAvatar {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .ubicacionAvatar {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        #titleAvatar {
            text-align: left;
        }

        .editarBtn {
            text-align: right;
        }

        .InfoLocationAvatar {
            padding-left: 15px;
            font-size: 23px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }

        .infoCreacion {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: normal;
        }

        .rowInfoAvatar {
            padding-left: 15px;
        }

        .rowData {
            color: $Color-blue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
        }

        .rowDataTitle {
            color: black;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: bold;
            padding-left: 12px;
        }

        .marginRowData {
            margin-top: 5px;
        }

        .avatarporcentage {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            padding-left: 5px;
        }

        .companysSearch {
            margin-bottom: 0rem !important;
        }

        .no-suggestions {
            color: #999;
            font-weight: bold;
            padding: 0.5rem;
        }

        .suggestions {
            border: 1px solid #999;
            border-top-width: 0;
            list-style: none;
            margin-top: 0;
            max-height: 150px;
            overflow-y: auto;
            padding-left: 0;
        }

        .suggestions li {
            padding: 0.5rem;
        }

        .suggestion-active,
        .suggestions li:hover {
            background-color: $Color-blue;
            color: white;
            cursor: pointer;
        }

        .suggestions li:not(:last-of-type) {
            border-bottom: 1px solid #999;
        }
    }



    #imgAvatar {
        text-align: center !important;
    }

}

[data-panel='containerGroups'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .toolBarBtns {
        text-align: left !important;
        padding-right: 5px;
    }

    .btncog,
    .btnfilter {
        color: $Color-blue !important;
        font-size: 1em;
    }

    .btnTodos {
        color: black;
        font-size: 1em;

    }

    .textTitleFilter {
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        font-weight: bold;
    }
}

[data-panel='containerUsers'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .toolBarBtns {
        text-align: left !important;
        padding-right: 5px;
    }

    .pagBTN {
        transition: all .3s;
        border: 1px solid #ddd;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 15px;

        .active {
            background-color: $Color-blue !important;
            ;
            color: #fff;
        }

        :not(.active) {
            background-color: transparent;
        }
    }

    .pagBTN:not(.active) {
        background-color: transparent;
    }

    .pagBTN:hover:not(.active) {
        background-color: #ddd;
    }

    .btncog,
    .btnfilter {
        color: $Color-blue !important;
        cursor: pointer !important;
        font-size: 1em;
    }

    .btnTodos {
        color: black;
        font-size: 1em;

    }

    .textTitleFilter {
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        font-weight: bold;
    }

    .FilterCreated {
        margin-top: 5px;
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

    .DropdownButtonActions {
        text-align: left !important;
    }

    .operador {
        font-size: 12px !important;
        font-weight: bold;
        height: 38px;
    }
}

[data-panel='containerCreatedUsers'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .card-body {

        input.error {

            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid red !important;
            border-radius: .25rem;
            transition: border-color .15s
        }

        .spanVIP {
            margin-top: 10px !important;
        }

        input.error:focus {

            border: 1px solid red !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
            outline: 0 none;
        }

        .errorMessage {
            color: red;
            font-size: 0.75em;
            font-weight: bold;
        }


        .no-suggestions {
            color: #999;
            font-weight: bold;
            padding: 0.5rem;
        }

        .suggestions {
            border: 1px solid #999;
            border-top-width: 0;
            list-style: none;
            margin-top: 0;
            max-height: 150px;
            overflow-y: auto;
            padding-left: 0;
        }

        .suggestions li {
            padding: 0.5rem;
        }

        .suggestion-active,
        .suggestions li:hover {
            background-color: $Color-blue;
            color: white;
            cursor: pointer;
        }

        .suggestions li:not(:last-of-type) {
            border-bottom: 1px solid #999;
        }


        .companysSearch {
            margin-bottom: 0.1rem !important;
        }

    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

}

[data-panel='containerRoles'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
        }
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

}

[data-panel='containerUpdateUser'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .card-body {

        padding-top: 40px !important;
        padding-left: 100px !important;

        input.error {

            display: block;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid red !important;
            border-radius: .25rem;
            transition: border-color .15s
        }

        input.error:focus {

            border: 1px solid red !important;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
            outline: 0 none;
        }

        .errorMessage {
            color: red;
            font-size: 0.75em;
            font-weight: bold;
        }


        .no-suggestions {
            color: #999;
            font-weight: bold;
            padding: 0.5rem;
        }

        .suggestions {
            border: 1px solid #999;
            border-top-width: 0;
            list-style: none;
            margin-top: 0;
            max-height: 150px;
            overflow-y: auto;
            padding-left: 0;
        }

        .suggestions li {
            padding: 0.5rem;
        }

        .suggestion-active,
        .suggestions li:hover {
            background-color: $Color-blue;
            color: white;
            cursor: pointer;
        }

        .suggestions li:not(:last-of-type) {
            border-bottom: 1px solid #999;
        }


        .companysSearch {
            margin-bottom: 0.1rem !important;
        }

        .lblCheckBox {
            padding-left: 55px !important;
            ;
        }

        .valuecheckboxActive {
            margin-left: 79px !important;

        }

        .valuecheckboxVip {
            margin-left: 97px !important;

        }


    }

    .card-footer {
        .tabsRow {
            margin-top: 3%;
        }

        .tabsCheckChange {
            padding-left: 55px;
        }

        .valuecheckboxActive {
            margin-left: 20px;
        }
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

}

[data-type='searchFilters'] {
    cursor: pointer !important;
}

.searchInput {
    cursor: pointer !important;

    :hover {
        cursor: pointer !important;
    }

    :active {
        cursor: pointer !important;
    }
}

[data-panel='containerCompanys'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .toolBarBtns {
        text-align: left !important;
        padding-right: 5px;
    }

    .btncog,
    .btnfilter {
        color: $Color-blue !important;
        cursor: pointer !important;
        font-size: 1em;
    }

    .btnTodos {
        color: black;
        font-size: 1em;

    }

    .textTitleFilter {
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        font-weight: bold;
    }

    .FilterCreated {
        margin-top: 5px;
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

    .DropdownButtonActions {
        text-align: left !important;
    }

    .operador {
        font-size: 12px !important;
        font-weight: bold;
        height: 38px;
    }
}

[data-panel='containerDepartments'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .toolBarBtns {
        text-align: left !important;
        padding-right: 5px;
    }

    .btncog,
    .btnfilter {
        color: $Color-blue !important;
        cursor: pointer !important;
        font-size: 1em;
    }

    .btnTodos {
        color: black;
        font-size: 1em;

    }

    .textTitleFilter {
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        font-weight: bold;
    }

    .FilterCreated {
        margin-top: 5px;
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

    .DropdownButtonActions {
        text-align: left !important;
    }

    .operador {
        font-size: 12px !important;
        font-weight: bold;
        height: 38px;
    }
}

[data-panel='containerGroups'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    #example_wrapper {
        width: 100% !important;
    }

    .toolBarBtns {
        text-align: left !important;
        padding-right: 5px;
    }

    .btncog,
    .btnfilter {
        color: $Color-blue !important;
        cursor: pointer !important;
        font-size: 1em;
    }

    .btnTodos {
        color: black;
        font-size: 1em;

    }

    .textTitleFilter {
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        font-weight: bold;
    }

    .FilterCreated {
        margin-top: 5px;
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

    .DropdownButtonActions {
        text-align: left !important;
    }

    .operador {
        font-size: 12px !important;
        font-weight: bold;
        height: 38px;
    }
}

[data-panel='containerRoles'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .toolBarBtns {
        text-align: left !important;
        padding-right: 5px;
    }

    .btncog,
    .btnfilter {
        color: $Color-blue !important;
        cursor: pointer !important;
        font-size: 1em;
    }

    .btnTodos {
        color: black;
        font-size: 1em;

    }

    .textTitleFilter {
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        font-weight: bold;
    }

    .FilterCreated {
        margin-top: 5px;
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

    .DropdownButtonActions {
        text-align: left !important;
    }

    .operador {
        font-size: 12px !important;
        font-weight: bold;
        height: 38px;
    }
}

[data-panel='containerLocalidades'] {

    .card,
    .card-header,
    .card-body,
    .card-footer {
        text-align: center;
        background-color: white;

    }

    .card-header {
        text-align: left;

        h2 {
            padding-left: 30px;
            font-weight: bold;
        }
    }

    .toolBarBtns {
        text-align: left !important;
        padding-right: 5px;
    }

    .btncog,
    .btnfilter {
        color: $Color-blue !important;
        cursor: pointer !important;
        font-size: 1em;
    }

    .btnTodos {
        color: black;
        font-size: 1em;

    }

    .textTitleFilter {
        font-family: Arial, Helvetica, sans-serif;
        margin-right: 5px;
        font-weight: bold;
    }

    .FilterCreated {
        margin-top: 5px;
    }

    .tittleContent {
        position: relative;
        transform: translateY(20%);
    }

    .DropdownButtonActions {
        text-align: left !important;
    }

    .operador {
        font-size: 12px !important;
        font-weight: bold;
        height: 38px;
    }
}




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.base-table {
    border: none;
    border-right: solid 1px #DDEFEF;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

.base-table thead th {
    border: none;
    padding: 10px;
    font-weight: bold;
    text-shadow: none;
    white-space: nowrap;
    cursor: pointer !important;


    span,
    span {
        display: block;
        cursor: pointer !important;
        width: 100%;
    }

    span.sort-by {
        padding-right: 18px;
        position: relative;
    }

    span.sort-by:hover {
        color: $Color-blue !important;
    }

    span.sort-by:before,
    span.sort-by:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;

        :hover {
            color: $Color-blue !important;
        }
    }

    span.sort-by:before {
        border-bottom-color: #666;
        margin-top: -9px;


    }

    span.sort-by:after {
        border-top-color: #666;
        margin-top: 1px;
    }



}

.base-table tbody td {
    border-bottom: solid 1px #DDEFEF;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
    white-space: nowrap;
}


.btnModalFoters {
    text-align: center;
}

.navegacionItem {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: $Color-blue !important;
}

.breadcrumb {
    background-color: transparent !important;
}

.colDispo,
.colSelect {
    text-align: center;
    padding-top: 8px;
    color: white;
    background-color: $Color-blue !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.bodyDispo,
.bodySelect {
    min-height: 100vh;
}


.list-group-item {
    cursor: pointer !important;

    :hover {
        background-color: $Color-blue !important;
    }
}


#listModal .list-group-item:hover {
    background-color: $Color-blue !important;
    color: white;
}

.btnArrow {
    font-size: 1em;
    margin-right: 10px;
}

.btnTitle {
    margin-right: 10px;
}

.navBarsection {
    background-color: #fff !important;
}

.titulo-home {
    font-weight: bold !important;
    font-size: 3em;
    margin-left: 30px;
}

.detalleusuario {
    margin-top: 15px !important;
    text-align: center !important;
    padding-left: 180px !important;
}

.toolMenu {
    margin-left: 15px !important;
}

.tab-content {
    padding-top: 15px !important;
}


/* ---------------------------------------------------
    css dataTable
----------------------------------------------------- */

.dont_select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.react-table {
    width: 100%;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: $font-size;
    color: $text-color;
    background-color: $background-color;
    border: 1px solid $border-color;

    header {
        padding: 20px 20px 0;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $border-color;
        box-sizing: border-box;

        .filter {
            position: relative;
            display: block;
            float: left;
            margin: 0 0 20px 20px;

            span {
                float: left;
                margin: 10px 15px 8px 0;
            }

            input {
                outline: 0;
                width: 200px;
                height: 20px;
                padding: 7px 34px 7px 12px;
                font-size: $font-size;
                line-height: 1.5384616;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 3px;
            }
        }
    }

    div.content.scrolling {
        height: 300px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $scroll-bar-color;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: $scroll-bar-hover-color;
            border: 1px solid #333333;
        }

        &::-webkit-scrollbar-thumb:active {
            background-color: $scroll-bar-active-color;
            border: 1px solid #333333;
        }
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;

        &.header.scrolling {
            padding-right: 13px;
        }

        thead {
            tr {
                th {
                    text-align: left;
                    vertical-align: middle;
                    padding: 12px 20px;
                    line-height: 1.5384616;
                    font-weight: 600;
                    border-bottom: 1px solid $border-color;
                    cursor: pointer;
                    position: relative;

                    &.sortable {
                        text-decoration: underline;

                        &.desc {
                            &:before {
                                border-color: transparent;
                            }
                        }

                        &.asc {
                            &:after {
                                border-color: transparent;
                            }
                        }
                    }

                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 20px;
                        display: inline-block;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        width: 0;
                        height: 0;
                    }

                    &:before {
                        margin-top: -6px;
                        border-bottom: 4px solid black;
                    }

                    &:after {
                        margin-top: 5px;
                        border-top: 4px solid black;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    vertical-align: middle;
                    padding: 12px 20px;
                    line-height: 1.5384616;
                    border-top: 1px solid $border-color;
                }
            }
        }
    }



    footer {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        border-top: 1px solid $border-color;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;

        div.info {
            float: left;
            padding: 8px 0;
            margin-bottom: 20px;
        }

        div.paginate {
            float: right;
            text-align: right;
            margin: 0 0 20px 20px;

            .paginate_button {
                display: inline-block;
                padding: 5px;
                min-width: 36px;
                margin-left: 2px;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                color: #333;
                border: 1px solid transparent;
                border-radius: 3px;
                font-size: $font-size-medium;

                .dont_select:hover {
                    background-color: #f5f5f5;
                }

                .dont_select.disable {
                    pointer-events: none;
                }
            }
        }
    }
}

/* ---------------------------------------------------
    css spinners
----------------------------------------------------- */

.spinner .ids-rings {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -32px;
    margin-right: -32px;
    width: 64px;
    height: 64px;
    z-index: 10;
    border-radius: 5px;
    background-color: #000;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        margin: 6px;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;

        &:nth-child(1) {
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }

    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}