$Color-darkest: #343D47;
$Color-grey-darkest: #555555;


$Color-blue: #268EFC;
$Color-blue-light: #BDDCFC;

$Color-turquoise: #00C39E;
$Color-orange: #FC8A3D;
$Color-red: #F95050;

$Color-lightest: #FFFFFF;
$Color-lighter: #E6E8EA;
$Color-light: #DBDBDB;
$Color-darker: #777777;
$Color-darker: #485564;

$body: #282c34